<h1 class="footer">footer</h1>
<footer class="footer-backgroud">
<div class="container">
    <div>
        <img>
    </div>
    <div>
        <img>
        <img>
        <img>
        <img>
    </div>
    <div>
        <h5>Central de Atendimento</h5>
        <h2>4020 7525</h2>
    </div>


</div>
</footer>