<form class="form pt-1 pb-5">
  <div class="container container_form">
    <h1 class="text-center mt-4 pb-5">Cadastrar Evento</h1>  

    <div class="linha"><!-- abre linha --> 

      <div class="form-group campo input__nomeevento mt-5 mb-3"><!-- abre coluna -->
          <label for="">Nome do Evento</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Digite o nome do evento">    
      </div><!-- fecha coluna -->

    </div><!-- fecha linha -->


    <div class="linha"><!-- abre linha -->  
      
      <div class="form-group campo input__ministrante"><!-- abre coluna -->
          <label for="">Ministrante</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Digite o nome do ministrante">    
      </div><!-- fecha coluna -->
    
      <div class="form-group campo input__quantidadehoras"><!-- abre coluna -->
          <label for="">Quantidade de horas</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Digite a quantidade de horas">    
      </div><!-- fecha coluna -->
    
      <div class="form-group campo input__numerovagas"><!-- abre coluna -->
          <label for="">Número de vagas</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Quantidades de vagas">    
      </div><!-- fecha coluna -->

    </div><!-- fecha linha -->
    

    <div class="linha"><!-- abre linha -->  

      <div class="form-group campo input__local"><!-- abre coluna -->
          <label for="">Local</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Cidade e estado, ex: Brasília-DF">    
      </div><!-- fecha coluna -->

      <div class="form-group campo input__data"><!-- abre coluna -->
          <label class="data" for="">Data</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="ex: 12/12/2012">    
      </div><!-- fecha coluna -->

      <div class="form-group campo input__hora"><!-- abre coluna -->
          <label for="">Hora</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="ex: 14:30">    
      </div><!-- fecha coluna -->
    

    </div><!-- fecha linha -->
    

    <div class="linha"><!-- abre linha -->  

      <div class="form-group campo"><!-- abre coluna -->
          <label for="">Descrição</label>
          <textarea class="form-control border border-dark" rows="10" id="" aria-describedby="" placeholder="Faça uma descrição sobre o evento"></textarea>
      </div><!-- fecha coluna -->

    </div><!-- fecha linha -->  
    

    <div class="linha"><!-- abre linha -->  

      <div class="form-group btn__enviar"><!-- abre coluna -->
          <button type="submit" class="btn enviar form-control text-center justify-content-center">Enviar</button>        
      </div><!-- fecha coluna -->

    </div><!-- fecha linha -->  


  </div><!-- fecha container --> 


  <input type="text" class='datepicker' >

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script> 


</form>