<form class="container">
  <h1 class="form text-center mt-4 pb-5">Cadastrar Evento</h1>  

  <div class="row mt-5 mb-3"><!-- abre linha -->  

    <div class="form-group col-12"><!-- abre coluna -->
        <label for="">Nome do Evento</label>
        <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="">    
    </div><!-- fecha coluna -->

  </div><!-- fecha linha -->  


  <div class="row mb-3"><!-- abre linha -->  

    <div class="form-group col-6"><!-- abre coluna -->
        <label for="">Ministrante</label>
        <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="">    
    </div><!-- fecha coluna -->

    <div class="form-group col-3"><!-- abre coluna -->
        <label for="">Quantidade de horas</label>
        <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="">    
    </div><!-- fecha coluna -->

    <div class="form-group col-3"><!-- abre coluna -->
        <label for="">Número de vagas</label>
        <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="">    
    </div><!-- fecha coluna -->

  </div><!-- fecha linha -->


  <div class="row mb-3"><!-- abre linha -->  

    <div class="form-group col-6"><!-- abre coluna -->
        <label for="">Local</label>
        <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="">    
    </div><!-- fecha coluna -->

    <div class="form-group col-3"><!-- abre coluna -->
        <label class="data" for="">Data</label>
        <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="">    
    </div><!-- fecha coluna -->

    <div class="form-group col-3"><!-- abre coluna -->
        <label for="">Hora</label>
        <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="">    
    </div><!-- fecha coluna -->

  </div><!-- fecha linha -->
  

  <div class="row mb-3"><!-- abre linha -->  

    <div class="form-group col-12"><!-- abre coluna -->
        <label for="">Descrição</label>
        <textarea class="form-control border border-dark" id="" aria-describedby="" placeholder=""></textarea>
    </div><!-- fecha coluna -->

  </div><!-- fecha linha -->  
  

  <div class="row mb-3"><!-- abre linha -->  

    <div class="col-10"></div>

    <div class="form-group col-2 text-right"><!-- abre coluna -->
        <button type="submit" class="btn enviar form-control">Enviar</button>        
    </div><!-- fecha coluna -->

  </div><!-- fecha linha -->  
  
</form>