<form class="form pt-1 pb-5">
  <div class="container container_form">
    <h1 class="text-center mt-4">Cadastrar Evento</h1>  

    <div class="linha">
      <div class="form-group campo input__nomeevento mt-5 mb-3">
          <label for="">Nome do Evento</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Digite o nome do evento">    
      </div>

    </div>


    <div class="linha">  
      
      <div class="form-group campo input__ministrante">
          <label for="">Ministrante</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Digite o nome do ministrante">    
      </div>
    
      <div class="form-group campo input__quantidadehoras">
          <label for="">Quantidade de horas</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Digite a quantidade de horas">    
      </div>
    
      <div class="form-group campo input__numerovagas">
          <label for="">Número de vagas</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Quantidades de vagas">    
      </div>

    </div>
    

    <div class="linha"> 

      <div class="form-group campo input__local">
          <label for="">Local</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="Cidade e estado, ex: Brasília-DF">    
      </div>

      <div class="form-group campo input__data">
          <label class="data" for="">Data</label>
          <input type="text" class="form-control border border-dark form-control datepicker" readonly="true" id="datepicker" aria-describedby="" placeholder="ex: 12/12/2012" data-provide='datepicker' data-date-format="dd/mm/yyyy">
       
      </div>

      <div class="form-group campo input__hora">
          <label for="">Hora</label>
          <input type="" class="form-control border border-dark" id="" aria-describedby="" placeholder="ex: 14:30">    
      </div>
    

    </div>
    

    <div class="linha"> 

      <div class="form-group campo">
          <label for="">Descrição</label>
          <textarea class="form-control border border-dark" rows="10" id="" aria-describedby="" placeholder="Faça uma descrição sobre o evento"></textarea>
      </div>

    </div>  
    

    <div class="linha"> 

      <div class="form-group btn__enviar">
          <button type="submit" class="btn enviar form-control text-center justify-content-center">Cadastrar</button>        
      </div>

    </div>  


  </div>

</form>