<section id="event__formSection">
  <div class="container">

    <hr class="event__line">

    <h2 class="text-center mt-2 pb-3 form__text">Cadastrar Evento</h2>

    <form>
      <div class="form-row">
        <div class="col-md-11 mb-3">
          <label for="name_event" class="form__text">Nome do Evento</label>
          <input type="text" class="form-control" id="name_event" placeholder="Semana Acadêmica de Sistemas de Informação - 2019"required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="name_ministrant" class="form__text">Ministrante</label>
          <input type="text" class="form-control" id="name_ministrant" placeholder="Nome do Ministrante"required>
        </div>
        <div class="col-md-3 mb-3">
          <label for="event_hours_cont" class="form__text">Qtd. Horas</label>
          <input type="time" class="form-control" id="event_hours_cont" required>
        </div>
        <div class="col-md-2 mb-3">
          <label for="count_positions" class="form__text">Vagas</label>
          <input type="number" class="form-control" id="count_positions" placeholder="Ex: 50" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="event_local" class="form__text">Local</label>
          <input type="text" class="form-control" id="name_ministrant" placeholder="Ex: Laboratório 05 - Bloco D"required>
        </div>
        <div class="col-md-3 mb-3">
          <label for="event_date" class="form__text">Data do Evento</label>
          <input type="date" class="form-control" id="event_hours_cont" min="01-01-2019" required>
        </div>
        <div class="col-md-2 mb-3">
          <label for="event_start_hour" class="form__text">Horário</label>
          <input type="time" class="form-control" id="count_positions" required>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-11 mb-3">
          <label for="event_description" class="form__text">Descrição do Evento</label>
          <textarea class="form-control form__textArea" id="event_description" rows="4"></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <input class="btn btn-primary form__button" type="submit" value="Enviar">
      </div>

    </form>

  </div>

</section>