<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Gerenciador de eventos</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
    </ul>
      <button class="form-inline my-2 my-lg-0 	btn btn-outline-success my-2 my-sm-0" type="submit">sair</button>
  </div>
</nav>