<section id="navbar_RegisterEvent">
  <nav class="navbar fixed-top navbar-expand-lg container-fluid navbar--color" id="nav">
    <div class="container">
      <a class="navbar-brand h2 mb-0" href="#">
        <%= image_tag "Logo_unieuro.png", class:"navbar__img"%>
        <span class ="navbar__Title">Eventos</span>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-navicon"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSite">
        <ul class="navbar-nav ml-auto navbar__Responsive">
          <li class="nav-item navbar__Resposive-Item1">
            <button class="form-inline my-2 my-lg-0	btn btn-outline-light my-2 my-sm-0 navbar__Button" type="submit">User 
              <a class="fa fa-user fa-lg navbar__fIcon"></a>
            </button>
          </li>

          <p class="navbar__LineSeparator d-none d-xl-block d-lg-block">|</p>

          <li class="nav-item navbar__Resposive-Item2">
            <button class="form-inline my-2 my-lg-0	btn btn-outline-light my-2 my-sm-0 navbar__Button" type="submit">Sair
              <a class="fa fa-sign-out fa-lg navbar__fIcon"></a>
            </button>
          </li>     
        </ul>
      </div>
    </div>
  </nav>
</section>
      