<nav class="navbar navbar--color navbar-expand">
	  <a class="" href="#">
         <%= image_tag "Logo_unieuro.png",class:"navbar__img"  %>  Gerenciador de eventos</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> 
    </ul>   
      <button class="form-inline my-2 my-lg-0 	btn btn-outline-success my-2 my-sm-0" type="submit">Sair</button>
  </div>
</nav>
