    
    <div class="container">        
        <div class="col text-center">
            <hr class="event__line">
            <h2 class="titles_index">Próximos Eventos</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">24/03</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div>    
                </div>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">26/03</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">27/03</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>
            
            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">27/03</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">29/03</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">30/03</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">02/04</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">06/04</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>

            <div class="col-sm-4 mt-4">
                <div class="col-sm-12 bg-white rounded border shadow">
                    <div class="dataBackground_index rounded mt-3">
                        <h2 class="titles_index">12/04</h2>
                    </div>
                    <p class="text-justify mt-2"><strong>Descrição do evento: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pulvinar, nunc non interdum faucibus, magna dolor elementum purus, a rutrum lacus sem quis dolor. Fusce.</p>
                    <div class="col text-center">
                        <button type="button" class="btn btnEventos_index mb-2">+Info</button>
                    </div> 
                </div>
            </div>
            
        </div>
        <div class="col text-center">
            <button type="button" class="btn btn-light mb-5 mt-5 shadow">Next</button>
        </div>
    </div>
</section>   