<div class="background">
    <div class="container container--flex">
        <div class="row">
            <div class="col-sm-12">
                <header class="loginHeader">
                    <%= image_tag "logounieuro.png",  class:"imageLogin" %>
                </header>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>
