<section>
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-sm-4">
                <h1> Em construção </h1>                
            </div>
            <div class="col-sm-4">
                <%= image_tag "Logo_unieuroo.png", class:""%>                
            </div>
            <div class="col-sm-4">
                <h1> Meus Eventos </h1>               
            </div>               
        </div>
    </div>
</section>