.footer_backgroud {
    background-color: #004085 !important;
    width: 100vw;
    bottom: 40px;
    position: sticky;
}

 .footer__container {
     display: flex!important;
     flex-direction: row!important;
     flex-wrap: nowrap!important;
     justify-content: space-around!important;
     align-items: center!important;
 }

 .footer__itemContainer{
    align-self: center!important;
    padding: 5px;
 }

 .footer__unieuroLogo {
     width: 120px!important;
 }

 .footer__iconSize{
     width: 65px!important;
 }



/* MEDIA QUERIES */


 @media (max-width: 992px) { 
    .footer__iconSize{
        width: 55px!important;
    }
 }

 @media (max-width: 768px) { 

 }

 @media (max-width: 576px) { 

 }