.footer__backgroud {
    background-color: #004085 !important;
    color: white !important;
}

.footer__container{
    display: flex!important;
    flex-direction: row!important;
    flex-wrap: nowrap!important;
    justify-content: space-between!important;
    align-items: center!important;
}

.footer__unieuroLogo {
    width: 140px!important;
}


.footer_icons{
    text-align: center !important;
}
 
.footer__iconSize{
    margin: 5px;    
    width: 65px !important;
    
}

.footer__textbox{
    padding-left: 5px;
}

.footer__text {
    text-align: right !important;
    word-wrap: break-word;
}

@media (max-width: 768px){
    .footer__container{
        flex-direction: column!important;
    }

    .footer__iconSize{
        margin: 5px!important;   
        width: 50px !important;
        padding-bottom: 5px!important;
    }

    .footer__text{
        text-align: center!important;
    }

}




/*
@media (max-width: 768px){
    .footer__unieuroLogo{
        width: 100px !important;
    }

    .footer__iconSize{
        margin: -0.5px!important;
        width: 45px !important;
    }

    .footer__text{
        font-size: 1.0rem!important;
    }

    .footer__text--size{
        font-size: 1.5rem!important;
    }
}

@media (max-width: 360px){
    .mobile{
        margin-left: 50px!important;
    }

    .footer__unieuroLogo{
        width: 85px !important;
    }

    .footer__iconSize{
        margin: 1.5px!important;
        width: 30px !important;
    }

    .footer__text{
        font-size: 0.8rem!important;
    }

    .footer__text--size{
        font-size: 1rem!important;
    }
}

@media (max-width: 320px){
    .mobile{
        margin-left: 10px!important;
    }

    .footer__unieuroLogo{
        width: 90px !important;
    }

    .footer__iconSize{
        margin: 5px!important;
        width: 30px !important;
    }

    .footer__text{
        font-size: 0.9rem!important;
    }

    .footer__text--size{
        font-size: 1.1rem!important;
    }
}

*/