.footer_backgroud {
    background-color: #004085 !important;
    width: 100vw;
    bottom: 40px;
    position: sticky;
    color: white !important;
    
}

.footer__unieuroLogo {
    width: 140px!important;
}

.footer_text_t, .footer_text_m {
    text-align: right !important;
}

.footer_icons{
    text-align: center !important;
}
 
.footer__iconSize{
    margin: 5px;    
    width: 65px !important;
    
}





@media (max-width: 1400px) { 
    .footer__iconSize{
        width: 55px !important;
    }.footer__unieuroLogo {
        width: 140px!important;
        padding: 5px;
    }.footer_text_t{
        font-size: 18px;
    }.footer_text_m{
        font-size: 32px;
    }
 }

 @media (max-width: 1200px) { 
    .footer__iconSize{
        width: 45px !important;
    }.footer__unieuroLogo {
        width: 125px!important;
        padding: 4px;
    }.footer_text_t{
        font-size: 16px;
    }.footer_text_m{
        font-size: 28px;
    }
 }

 @media (max-width: 992px) { 
    .footer__iconSize{
        width: 35px !important;
    }.footer__unieuroLogo {
        width: 115px!important;
        padding: 3px;
    }.footer_text_t{
        font-size: 14px;
    }.footer_text_m{
        font-size: 24px;
    }
 }

 @media (max-width: 768px) { 
    .footer__iconSize{
        width: 20px !important;
    }.footer__unieuroLogo {
        width: 100px!important;
        padding: 2px;
    }.footer_text_t{
        font-size: 10px;
    }.footer_text_m{
        font-size: 20px;
    }
}

@media (max-width: 576px) { 
    .footer__iconSize{
        width: 15px !important;
        margin: 0.5px;
    }.footer__unieuroLogo {
        width: 40px!important;
        padding: 1px;
    }.footer_text_t{
        font-size: 8px;
        padding-top: 3px;
    }.footer_text_m{
        margin-top: -2px;
        font-size: 12px;
    }
}

@media (max-width: 320px) { 
    .footer__iconSize{
        width: 13px !important;
        margin: 0.5px;
    }.footer__unieuroLogo {
        width: 40px!important;
        padding: 1px;
    }.footer_text_t{
        font-size: 6px;
        padding-top: 3px;
    }.footer_text_m{
        margin-top: -2px;
        font-size: 10px;
    }
}