.form {
    color: darkblue!important;
    font-weight: bold;
}

label {
    color: darkblue!important;
    font-weight: bold;
}

.enviar {
    color: white;
    background: darkblue!important;
}
