.background{
    background-image: url('big-city.jpg');
}

.container--flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.imageLogin{
    width: 400px;
}
