.login__background{
    background-image: url('big-city.jpg');
    width: 100%;
    height: 100%;
}

body{
    background-color: #efebeb; /*cor de fundo padrão para todas as outras telas */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;  
}

    .nav--color{
        background-color:#004085!important;
        height: 80px;
        justify-content: flex-end;
    }

    .nav__font{
        color:#ffffff!important;
        font-weight: bold !important;
        font-size: 1.3em !important;
        text-align: right!important;
    }

    .container__flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        background-color: #ffffff;
        margin-top: 9em;
        margin-bottom: 5em;
        padding-bottom: 25px;
 
        
    }

    .inputLogin__color{
        border-color: black;
    }
    
    .backgLogin{ /*background da tela de login */
        background-image: url('bg_login.png');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;        
    }    

    @media (max-width: 576px) {
        .container__flex{
            margin-top: 30px;
            width: 90%;
         }
        .nav--color{
            justify-content: center!important;
         }
      }

.imageLogin{
    height: 200px;
    width: 100%;
    margin: 15px 0px 25px 0px;
}
    .form__text{
        color:black;
    }

    .container--align{
        text-align: center;
    }

    .form__padButton{
        margin-top: 20px;
    }

    .btn--color{
        background-color:#387AD4;
    }

.footer {
    background-color:#ffffff;
  }
  .footer__p--container {
    text-align: center;
    color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__p {
    margin: 0px;
  }
  .footer__linha {
    background-color:#387AD4;
    height: 4px;
  }
