@font-face {
    font-family: "OpenSans-Bold";
    src: url("fonts/OpenSans-Bold.ttf");
    src: url("fonts/OpenSans-Bold.ttf?#iefix") format("embedded-opentype"),
    url("fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h2, h5{
    font-family: "OpenSans-Bold";
}