.form__textArea{
    resize: none;
}

.form__title{
    border-top: 15px solid;
    border-color: #004085;
}

.event__line{
    width: 100px;
    border-top: 6px solid #004085!important;
    color: #004085;
}

.form__text{
    color: #004085;
}

.form__button{
    color: white!important;
    background: #004085!important;
    border: none!important;
}

.form__textArea{
    resize: none!important;
}

#event__formSection{
    padding-top: 50px;
}

.form__button:hover{
    text-decoration: none!important;
}