.dataBackground_index{
    background-color: #d7d8d8;
    height: 12em;    
}
.titles_index{
    color: #004085;
    font-weight: bold;
}

.corBackground_index{
    background-color: #efebeb;
}

.btnEventos_index{
    background-color: #004085 !important;
    color: white;
}