.dataBackground_index{
    background-image: url('download.jpg');
    height: 12em;    
}
.titles_index{
    color: #004085;
    font-weight: bold;
    padding-left: 10px;
}

.corBackground_index{
    background-color: #efebeb;
}

.btnEventos_index{
    background-color: #004085 !important;
    color: white;
}